.vscode/
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
*.class
*.lock
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
